@import "variables";

//   Footer
.branding {
  position: absolute;
  float: right;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 40px;
  background-color: color(primary);
  border: 5px solid color(nav);
  border-radius: 100vh;
  margin: 40px;
  font-size: 20px;
  padding-left: 15px;
  line-height: 30px;
  letter-spacing: 3px;

  .branding-link {
    display: inline;
    text-decoration: none;
    color: color(nav);
  }

  .branding-link:hover {
    color: color(primary);
  }

  .branding-icon {
    position: relative;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: color(nav);
    margin: -5px;
    letter-spacing: 0;
    color: color(primary);

    .fa-unlock-alt {
      position: absolute;

      font-size: 18px;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    .fa-unlock-alt:hover {
      font-size: 23px;
    }
  }

  .branding-icon:hover {
    border: 3px solid color(accent);
    background-color: color(primary);
    color: color(accent);
  }
}

.branding:hover {
  border-color: color(accent);
  background-color: color(accent);
}
