@import "variables";

// mixin sequencer notes

@mixin wrapper($rotate, $color, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate($rotate);

  .note {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color;
    top: $height;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
  }

  .note:hover {
    width: 45px;
    height: 45px;
    background-color: lighten($color: $color, $amount: 30);
  }
}

// Notes

// values for loops

$distance:  -385px, -330px, -275px, -220px, -165px, -110px;
$fix: 110px;
$elements: 16;
$deg: 360;

// for loop notes

@for $i from 0 through 5 {
  .sequence__layer-#{$i} {
    @for $j from 0 through 15 {
      .wrapper-#{$j} {
        @include wrapper(
                        ($j / $elements) * $deg + deg,
                        nth($inactive-colors, ($i + 1)),
                        nth($distance, ($i + 1))
        );
      }

      .wrapper-selected-#{$j} {
        @include wrapper(
                        ($j / $elements) * $deg + deg,
                        nth($active-colors, ($i + 1)),
                        nth($distance, ($i + 1))
        );
    }
  }

  .sequence__layer-selected-#{$i} {
    @for $j from 0 through 15 {

      }
    }
  }
}
