@import "variables";

// mixin sequencer notes

@mixin wrapper($rotate, $color, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate($rotate);

  .note {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: $color;
    top: $height;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
  }

  .note:hover {
    width: 4vh;
    height: 4vh;
    background-color: lighten($color: $color, $amount: 30);
  }
}

// Notes

// values for loops
// -315px, -270px, -225px, -180px, -135px, -90px;
// $distance:  -40.18vh, -34.44vh, -28.70vh, -22.96vh, -17.22vh, -11.48vh;
$distance: -11.48vh, -17.22vh, -22.96vh, -28.70vh, -34.44vh, -40.18vh;
$fix: 50vh;
$elements: 16;
$deg: 360;

// for loop notes

@for $i from 0 through 5 {
  .sequence__layer-#{$i} {
    @for $j from 0 through 15 {
      .wrapper-#{$j} {
        @include wrapper(
                        ($j / $elements) * $deg + deg,
                        nth($inactive-colors, ($i + 1)),
                        nth($distance, ($i + 1))
        );
      }

      .wrapper-selected-#{$j} {
        @include wrapper(
                        ($j / $elements) * $deg + deg,
                        nth($active-colors, ($i + 1)),
                        nth($distance, ($i + 1))
        );
    }
  }

  .sequence__layer-selected-#{$i} {
    @for $j from 0 through 15 {

      }
    }
  }
}
