.BPM {
  background: #333;
  top: 80px;
  right: 30px;
  height: 30px;
  width: 20%;
  position: absolute;
  border-radius: 3px;
  color: #aaa;

  input {
    position: absolute;
    background: #222;
    margin: 5px;
    color: #aaa;
    &:hover {
      background: #555;
    }
  }
  label {
    font-size: 20px;
    position: absolute;
    top: 10%;
    left: 70%;
    margin-left: 5px;
  }
}
