* {
  font-family: "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
}

.Header {
  margin: 20px;
}

.PresetBrowser {
  background: #333;
  color: #fff;
  padding: 5px 20px;
  margin: 20px;
  width: 60%;
}

.PresetBrowser label {
  padding: 0 20px 0 0;
}

.BPM {
  background: #999;
  padding: 5px 20px;
  margin: 20px;
  width: 60%;
}

.Layers {
  border: black 2px solid;
  margin: 20px;
  width: 80%;
}

.Layer1 {
  background: forestgreen;
  padding: 5px 0;
}

.Layer2 {
  background: blue;
  padding: 5px 0;
}

.Layer3 {
  background: yellow;
  padding: 5px 0;
}

.Layer4 {
  background: red;
  padding: 5px 0;
}

.Layer5 {
  background: sienna;
  padding: 5px 0;
}

.Trigger {
  border: black 1px solid;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px 1%;
  margin: 0;
  &:hover{
    background: rgba(0, 0, 0, 0.2);
  }
}


.Checked {
  background: black;
}

.Player {
  margin: 10px; }

.Player button {
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2196f3;
  color: #ecf0f1;
}

.Library {
  margin: 20px;
}