* {
  font-family: "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0; }

.Header {
  margin: 20px; }

.PresetBrowser {
  background: #333;
  color: #fff;
  padding: 5px 20px;
  margin: 20px;
  width: 60%;
  height: 30px; }

.PresetBrowser label {
  padding: 3px 20px;
  float: right; }

.PresetDropdown {
  background: black;
  position: relative;
  width: 30%;
  padding: 3px;
  display: block;
  list-style: none;
  float: left;
  border-radius: 0px 0px 3px 3px; }
  .PresetDropdown li {
    display: none;
    float: left;
    color: white;
    background: #222;
    width: 60%;
    padding: 5px 20px 5px 20px;
    border-bottom: black 2px solid; }
  .PresetDropdown:hover {
    background: grey; }
    .PresetDropdown:hover li {
      display: block; }
      .PresetDropdown:hover li li {
        display: none; }
      .PresetDropdown:hover li:hover {
        background: #c0c0c0; }
        .PresetDropdown:hover li:hover li {
          display: block;
          position: relative;
          left: 150px;
          width: 200px; }

.BPM {
  background: #999;
  padding: 5px 20px;
  margin: 20px;
  width: 60%; }

/*
.Layers {
  border: black 2px solid;
  margin: 20px;
  width: 80%;
}

.Layer1 {
  background: forestgreen;
  padding: 5px 0;
}

.Layer2 {
  background: blue;
  padding: 5px 0;
}

.Layer3 {
  background: yellow;
  padding: 5px 0;
}

.Layer4 {
  background: red;
  padding: 5px 0;
}

.Layer5 {
  background: sienna;
  padding: 5px 0;
}


.Trigger {
  border: black 1px solid;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px 1%;
  margin: 0;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.Checked {
  background: black;
}

 */
.Player {
  margin: 10px; }

.Player button {
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2196f3;
  color: #ecf0f1; }

.CustomRangeSlider {
  width: 20vw;
  display: inline; }

.Library {
  margin: 20px; }

.layer {
  width: 500px;
  height: 500px;
  transform: translate(50%);
  background: #25255a;
  /* Ring 2 */
  /* Ring 3 */
  /* Ring 4 */
  /* Ring 5 */
  /* Ring 6 */ }
  .layer .layer1 .trigger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: 125px;
    position: absolute; }
    .layer .layer1 .trigger .trigger1 {
      transform: rotate(22.5deg); }
    .layer .layer1 .trigger .trigger2 {
      transform: rotate(45deg); }
    .layer .layer1 .trigger .trigger3 {
      transform: rotate(66.5deg); }
    .layer .layer1 .trigger .trigger4 {
      transform: rotate(89deg); }
    .layer .layer1 .trigger .trigger5 {
      transform: rotate(111.5deg); }
    .layer .layer1 .trigger .trigger6 {
      transform: rotate(134deg); }
    .layer .layer1 .trigger .trigger7 {
      transform: rotate(156.5deg); }
    .layer .layer1 .trigger .trigger8 {
      transform: rotate(179deg); }
    .layer .layer1 .trigger .trigger9 {
      transform: rotate(201.5deg); }
    .layer .layer1 .trigger .trigger10 {
      transform: rotate(224deg); }
    .layer .layer1 .trigger .trigger11 {
      transform: rotate(246deg); }
    .layer .layer1 .trigger .trigger12 {
      transform: rotate(269deg); }
    .layer .layer1 .trigger .trigger13 {
      transform: rotate(291.5deg); }
    .layer .layer1 .trigger .trigger14 {
      transform: rotate(314deg); }
    .layer .layer1 .trigger .trigger15 {
      transform: rotate(336.5deg); }
  .layer .layer2 .trigger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7941d;
    top: 50%;
    left: 180px;
    position: absolute; }
  .layer .layer2 .trigger1 {
    transform: rotate(22.5deg); }
  .layer .layer2 .trigger2 {
    transform: rotate(45deg); }
  .layer .layer2 .trigger3 {
    transform: rotate(66.5deg); }
  .layer .layer2 .trigger4 {
    transform: rotate(89deg); }
  .layer .layer2 .trigger5 {
    transform: rotate(111.5deg); }
  .layer .layer2 .trigger6 {
    transform: rotate(134deg); }
  .layer .layer2 .trigger7 {
    transform: rotate(156.5deg); }
  .layer .layer2 .trigger8 {
    transform: rotate(179deg); }
  .layer .layer2 .trigger9 {
    transform: rotate(201.5deg); }
  .layer .layer2 .trigger10 {
    transform: rotate(224deg); }
  .layer .layer2 .trigger11 {
    transform: rotate(246deg); }
  .layer .layer2 .trigger12 {
    transform: rotate(269deg); }
  .layer .layer2 .trigger13 {
    transform: rotate(291.5deg); }
  .layer .layer2 .trigger14 {
    transform: rotate(314deg); }
  .layer .layer2 .trigger15 {
    transform: rotate(336.5deg); }
  .layer .layer3 .trigger {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%; }
  .layer .layer3 .trigger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ed145b;
    top: 50%;
    left: 235px;
    position: absolute; }
  .layer .layer3 .trigger1 {
    transform: rotate(22.5deg); }
  .layer .layer3 .trigger2 {
    transform: rotate(45deg); }
  .layer .layer3 .trigger3 {
    transform: rotate(66.5deg); }
  .layer .layer3 .trigger4 {
    transform: rotate(89deg); }
  .layer .layer3 .trigger5 {
    transform: rotate(111.5deg); }
  .layer .layer3 .trigger6 {
    transform: rotate(134deg); }
  .layer .layer3 .trigger7 {
    transform: rotate(156.5deg); }
  .layer .layer3 .trigger8 {
    transform: rotate(179deg); }
  .layer .layer3 .trigger9 {
    transform: rotate(201.5deg); }
  .layer .layer3 .trigger10 {
    transform: rotate(224deg); }
  .layer .layer3 .trigger11 {
    transform: rotate(246deg); }
  .layer .layer3 .trigger12 {
    transform: rotate(269deg); }
  .layer .layer3 .trigger13 {
    transform: rotate(291.5deg); }
  .layer .layer3 .trigger14 {
    transform: rotate(314deg); }
  .layer .layer3 .trigger15 {
    transform: rotate(336.5deg); }
  .layer .layer4 .trigger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2587ac;
    top: 50%;
    left: 290px;
    position: absolute; }
  .layer .layer4 .trigger1 {
    transform: rotate(22.5deg); }
  .layer .layer4 .trigger2 {
    transform: rotate(45deg); }
  .layer .layer4 .trigger3 {
    transform: rotate(66.5deg); }
  .layer .layer4 .trigger4 {
    transform: rotate(89deg); }
  .layer .layer4 .trigger5 {
    transform: rotate(111.5deg); }
  .layer .layer4 .trigger6 {
    transform: rotate(134deg); }
  .layer .layer4 .trigger7 {
    transform: rotate(156.5deg); }
  .layer .layer4 .trigger8 {
    transform: rotate(179deg); }
  .layer .layer4 .trigger9 {
    transform: rotate(201.5deg); }
  .layer .layer4 .trigger10 {
    transform: rotate(224deg); }
  .layer .layer4 .trigger11 {
    transform: rotate(246deg); }
  .layer .layer4 .trigger12 {
    transform: rotate(269deg); }
  .layer .layer4 .trigger13 {
    transform: rotate(291.5deg); }
  .layer .layer4 .trigger14 {
    transform: rotate(314deg); }
  .layer .layer4 .trigger15 {
    transform: rotate(336.5deg); }
  .layer .layer5 .trigger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #39b54a;
    top: 50%;
    left: 345px;
    position: absolute; }
  .layer .layer5 .trigger1 {
    transform: rotate(22.5deg); }
  .layer .layer5 .trigger2 {
    transform: rotate(45deg); }
  .layer .layer5 .trigger3 {
    transform: rotate(66.5deg); }
  .layer .layer5 .trigger4 {
    transform: rotate(89deg); }
  .layer .layer5 .trigger5 {
    transform: rotate(111.5deg); }
  .layer .layer5 .trigger6 {
    transform: rotate(134deg); }
  .layer .layer5 .trigger7 {
    transform: rotate(156.5deg); }
  .layer .layer5 .trigger8 {
    transform: rotate(179deg); }
  .layer .layer5 .trigger9 {
    transform: rotate(201.5deg); }
  .layer .layer5 .trigger10 {
    transform: rotate(224deg); }
  .layer .layer5 .trigger11 {
    transform: rotate(246deg); }
  .layer .layer5 .trigger12 {
    transform: rotate(269deg); }
  .layer .layer5 .trigger13 {
    transform: rotate(291.5deg); }
  .layer .layer5 .trigger14 {
    transform: rotate(314deg); }
  .layer .layer5 .trigger15 {
    transform: rotate(336.5deg); }
  .layer .layer6 .trigger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8560a8;
    top: 50%;
    left: 400px;
    position: absolute; }
  .layer .layer6 .trigger1 {
    transform: rotate(22.5deg); }
  .layer .layer6 .trigger2 {
    transform: rotate(45deg); }
  .layer .layer6 .trigger3 {
    transform: rotate(66.5deg); }
  .layer .layer6 .trigger4 {
    transform: rotate(89deg); }
  .layer .layer6 .trigger5 {
    transform: rotate(111.5deg); }
  .layer .layer6 .trigger6 {
    transform: rotate(134deg); }
  .layer .layer6 .trigger7 {
    transform: rotate(156.5deg); }
  .layer .layer6 .trigger8 {
    transform: rotate(179deg); }
  .layer .layer6 .trigger9 {
    transform: rotate(201.5deg); }
  .layer .layer6 .trigger10 {
    transform: rotate(224deg); }
  .layer .layer6 .trigger11 {
    transform: rotate(246deg); }
  .layer .layer6 .trigger12 {
    transform: rotate(269deg); }
  .layer .layer6 .trigger13 {
    transform: rotate(291.5deg); }
  .layer .layer6 .trigger14 {
    transform: rotate(314deg); }
  .layer .layer6 .trigger15 {
    transform: rotate(336.5deg); }

/*# sourceMappingURL=DefaultStyles.css.map */
