* {
  font-family: "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
}

.Header {
  margin: 20px;
}

.PresetBrowser {
  background: #333;
  color: #fff;
  padding: 5px 20px;
  margin: 20px;
  width: 60%;
  height: 30px;
}

.PresetBrowser label {
  padding: 3px 20px;
  float: right;
}

.PresetDropdown {
  background: black;
  position: relative;
  width: 30%;
  padding: 3px;
  display: block;
  list-style: none;
  float: left;
  border-radius: 0px 0px 3px 3px;

  li {
    display: none;
    float: left;
    color: white;
    background: #222;
    width: 60%;
    padding: 5px 20px 5px 20px;
    border-bottom: black 2px solid;
  }

  &:hover {
    background: grey;

    li {
      display: block;

      li {
        display: none;
      }

      &:hover {
        background: #c0c0c0;

        li {
          display: block;
          position: relative;
          left: 150px;
          width: 200px;
        }
      }
    }
  }
}

.BPM {
  background: #999;
  padding: 5px 20px;
  margin: 20px;
  width: 60%;
}

/*
.Layers {
  border: black 2px solid;
  margin: 20px;
  width: 80%;
}

.Layer1 {
  background: forestgreen;
  padding: 5px 0;
}

.Layer2 {
  background: blue;
  padding: 5px 0;
}

.Layer3 {
  background: yellow;
  padding: 5px 0;
}

.Layer4 {
  background: red;
  padding: 5px 0;
}

.Layer5 {
  background: sienna;
  padding: 5px 0;
}


.Trigger {
  border: black 1px solid;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px 1%;
  margin: 0;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.Checked {
  background: black;
}

 */

.Player {
  margin: 10px;
  margin-top: 650px;
}

.Player button {
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2196f3;
  color: #ecf0f1;
}

.CustomRangeSlider {
  width: 20vw;
  display: inline;
}

.Library {
  margin: 20px;
}

// UMUT

$center: 500px;
$triggerSize: 30px;

@mixin l1trigger {
  top: $center;
  left: $center;
  width: $triggerSize;
  height: 100px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 7;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: #f26c4f;
    position: absolute;
    z-index: 13;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l1trigger-c {
  top: $center;
  left: $center;
  width: $triggerSize;
  height: 100px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 7;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 13;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l2trigger {
  top: 450px;
  left: $center;
  width: $triggerSize;
  height: 150px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 6;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: #f7941d;
    position: absolute;
    z-index: 12;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l2trigger-c {
  top: 450px;
  left: $center;
  width: $triggerSize;
  height: 150px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 6;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 12;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l3trigger {
  top: 400px;
  left: $center;
  width: $triggerSize;
  height: 200px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 5;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: #ed145b;
    position: absolute;
    z-index: 11;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l3trigger-c {
  top: 400px;
  left: $center;
  width: $triggerSize;
  height: 200px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 5;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 11;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l4trigger {
  top: 350px;
  left: $center;
  width: $triggerSize;
  height: 250px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 4;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: #2587ac;
    position: absolute;
    z-index: 10;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l4trigger-c {
  top: 350px;
  left: $center;
  width: $triggerSize;
  height: 250px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 4;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 10;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l5trigger {
  top: 300px;
  left: $center;
  width: $triggerSize;
  height: 300px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 3;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: #39b54a;
    position: absolute;
    z-index: 9;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l5trigger-c {
  top: 300px;
  left: $center;
  width: $triggerSize;
  height: 300px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 3;

  span {
    width: $triggerSize;
    height: $triggerSize;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 9;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l6trigger {
  top: 250px;
  left: $center;
  width: $triggerSize;
  height: 350px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 2;

  span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #8560a8;
    position: absolute;
    z-index: 8;

    &:hover {
      border: 1px black solid;
    }
  }
}

@mixin l6trigger-c {
  top: 250px;
  left: $center;
  width: $triggerSize;
  height: 350px;
  transform-origin: bottom center;
  position: absolute;
  z-index: 2;

  span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 8;

    &:hover {
      border: 1px black solid;
    }
  }
}

.layer {

  .layer1 {

    .trigger1 {
      @include l1trigger;
      transform: rotateZ(0deg);
    }

    .trigger1-c {
      @include l1trigger-c;
      transform: rotateZ(0deg);
    }

    .trigger2 {
      @include l1trigger;
      transform: rotateZ(22.5deg);
    }

    .trigger2-c {
      @include l1trigger-c;
      transform: rotateZ(22.5deg);
    }

    .trigger3 {
      @include l1trigger;
      transform: rotateZ(45deg);
    }

    .trigger3-c {
      @include l1trigger-c;
      transform: rotateZ(45deg);
    }

    .trigger4 {
      @include l1trigger;
      transform: rotateZ(66.5deg);
    }

    .trigger4-c {
      @include l1trigger-c;
      transform: rotateZ(66.5deg);
    }

    .trigger5 {
      @include l1trigger;
      transform: rotateZ(89deg);
    }

    .trigger5-c {
      @include l1trigger-c;
      transform: rotateZ(89deg);
    }

    .trigger6 {
      @include l1trigger;
      transform: rotateZ(111.5deg);
    }

    .trigger6-c {
      @include l1trigger-c;
      transform: rotateZ(111.5deg);
    }

    .trigger7 {
      @include l1trigger;
      transform: rotateZ(134deg);
    }

    .trigger7-c {
      @include l1trigger-c;
      transform: rotateZ(134deg);
    }

    .trigger8 {
      @include l1trigger;
      transform: rotateZ(156.5deg);
    }

    .trigger8-c {
      @include l1trigger-c;
      transform: rotateZ(156.5deg);
    }

    .trigger9 {
      @include l1trigger;
      transform: rotateZ(179deg);
    }

    .trigger9-c {
      @include l1trigger-c;
      transform: rotateZ(179deg);
    }

    .trigger10 {
      @include l1trigger;
      transform: rotateZ(201.5deg);
    }

    .trigger10-c {
      @include l1trigger-c;
      transform: rotateZ(201.5deg);
    }

    .trigger11 {
      @include l1trigger;
      transform: rotateZ(224deg);
    }

    .trigger11-c {
      @include l1trigger-c;
      transform: rotateZ(224deg);
    }

    .trigger12 {
      @include l1trigger;
      transform: rotateZ(246deg);
    }

    .trigger12-c {
      @include l1trigger-c;
      transform: rotateZ(246deg);
    }

    .trigger13 {
      @include l1trigger;
      transform: rotateZ(269deg);
    }

    .trigger13-c {
      @include l1trigger-c;
      transform: rotateZ(269deg);
    }

    .trigger14 {
      @include l1trigger;
      transform: rotateZ(291.5deg);
    }

    .trigger14-c {
      @include l1trigger-c;
      transform: rotateZ(291.5deg);
    }

    .trigger15 {
      @include l1trigger;
      transform: rotateZ(314deg);
    }

    .trigger15-c {
      @include l1trigger-c;
      transform: rotateZ(314deg);
    }

    .trigger16 {
      @include l1trigger;
      transform: rotateZ(336.5deg);
    }

    .trigger16-c {
      @include l1trigger-c;
      transform: rotateZ(336.5deg);
    }
  }

  .layer2 {

    .trigger1 {
      @include l2trigger;
      transform: rotateZ(0deg);
    }

    .trigger1-c {
      @include l2trigger-c;
      transform: rotateZ(0deg);
    }

    .trigger2 {
      @include l2trigger;
      transform: rotateZ(22.5deg);
    }

    .trigger2-c {
      @include l2trigger-c;
      transform: rotateZ(22.5deg);
    }

    .trigger3 {
      @include l2trigger;
      transform: rotateZ(45deg);
    }

    .trigger3-c {
      @include l2trigger-c;
      transform: rotateZ(45deg);
    }

    .trigger4 {
      @include l2trigger;
      transform: rotateZ(66.5deg);
    }

    .trigger4-c {
      @include l2trigger-c;
      transform: rotateZ(66.5deg);
    }

    .trigger5 {
      @include l2trigger;
      transform: rotateZ(89deg);
    }

    .trigger5-c {
      @include l2trigger-c;
      transform: rotateZ(89deg);
    }

    .trigger6 {
      @include l2trigger;
      transform: rotateZ(111.5deg);
    }

    .trigger6-c {
      @include l2trigger-c;
      transform: rotateZ(111.5deg);
    }

    .trigger7 {
      @include l2trigger;
      transform: rotateZ(134deg);
    }

    .trigger7-c {
      @include l2trigger-c;
      transform: rotateZ(134deg);
    }

    .trigger8 {
      @include l2trigger;
      transform: rotateZ(156.5deg);
    }

    .trigger8-c {
      @include l2trigger-c;
      transform: rotateZ(156.5deg);
    }

    .trigger9 {
      @include l2trigger;
      transform: rotateZ(179deg);
    }

    .trigger9-c {
      @include l2trigger-c;
      transform: rotateZ(179deg);
    }

    .trigger10 {
      @include l2trigger;
      transform: rotateZ(201.5deg);
    }

    .trigger10-c {
      @include l2trigger-c;
      transform: rotateZ(201.5deg);
    }

    .trigger11 {
      @include l2trigger;
      transform: rotateZ(224deg);
    }

    .trigger11-c {
      @include l2trigger-c;
      transform: rotateZ(224deg);
    }

    .trigger12 {
      @include l2trigger;
      transform: rotateZ(246deg);
    }

    .trigger12-c {
      @include l2trigger-c;
      transform: rotateZ(246deg);
    }

    .trigger13 {
      @include l2trigger;
      transform: rotateZ(269deg);
    }

    .trigger13-c {
      @include l2trigger-c;
      transform: rotateZ(269deg);
    }

    .trigger14 {
      @include l2trigger;
      transform: rotateZ(291.5deg);
    }

    .trigger14-c {
      @include l2trigger-c;
      transform: rotateZ(291.5deg);
    }

    .trigger15 {
      @include l2trigger;
      transform: rotateZ(314deg);
    }

    .trigger15-c {
      @include l2trigger-c;
      transform: rotateZ(314deg);
    }

    .trigger16 {
      @include l2trigger;
      transform: rotateZ(336.5deg);
    }

    .trigger16-c {
      @include l2trigger-c;
      transform: rotateZ(336.5deg);
    }
  }

  .layer3 {
    .trigger1 {
      @include l3trigger;
      transform: rotateZ(0deg);
    }

    .trigger1-c {
      @include l3trigger-c;
      transform: rotateZ(0deg);
    }

    .trigger2 {
      @include l3trigger;
      transform: rotateZ(22.5deg);
    }

    .trigger2-c {
      @include l3trigger-c;
      transform: rotateZ(22.5deg);
    }

    .trigger3 {
      @include l3trigger;
      transform: rotateZ(45deg);
    }

    .trigger3-c {
      @include l3trigger-c;
      transform: rotateZ(45deg);
    }

    .trigger4 {
      @include l3trigger;
      transform: rotateZ(66.5deg);
    }

    .trigger4-c {
      @include l3trigger-c;
      transform: rotateZ(66.5deg);
    }

    .trigger5 {
      @include l3trigger;
      transform: rotateZ(89deg);
    }

    .trigger5-c {
      @include l3trigger-c;
      transform: rotateZ(89deg);
    }

    .trigger6 {
      @include l3trigger;
      transform: rotateZ(111.5deg);
    }

    .trigger6-c {
      @include l3trigger-c;
      transform: rotateZ(111.5deg);
    }

    .trigger7 {
      @include l3trigger;
      transform: rotateZ(134deg);
    }

    .trigger7-c {
      @include l3trigger-c;
      transform: rotateZ(134deg);
    }

    .trigger8 {
      @include l3trigger;
      transform: rotateZ(156.5deg);
    }

    .trigger8-c {
      @include l3trigger-c;
      transform: rotateZ(156.5deg);
    }

    .trigger9 {
      @include l3trigger;
      transform: rotateZ(179deg);
    }

    .trigger9-c {
      @include l3trigger-c;
      transform: rotateZ(179deg);
    }

    .trigger10 {
      @include l3trigger;
      transform: rotateZ(201.5deg);
    }

    .trigger10-c {
      @include l3trigger-c;
      transform: rotateZ(201.5deg);
    }

    .trigger11 {
      @include l3trigger;
      transform: rotateZ(224deg);
    }

    .trigger11-c {
      @include l3trigger-c;
      transform: rotateZ(224deg);
    }

    .trigger12 {
      @include l3trigger;
      transform: rotateZ(246deg);
    }

    .trigger12-c {
      @include l3trigger-c;
      transform: rotateZ(246deg);
    }

    .trigger13 {
      @include l3trigger;
      transform: rotateZ(269deg);
    }

    .trigger13-c {
      @include l3trigger-c;
      transform: rotateZ(269deg);
    }

    .trigger14 {
      @include l3trigger;
      transform: rotateZ(291.5deg);
    }

    .trigger14-c {
      @include l3trigger-c;
      transform: rotateZ(291.5deg);
    }

    .trigger15 {
      @include l3trigger;
      transform: rotateZ(314deg);
    }

    .trigger15-c {
      @include l3trigger-c;
      transform: rotateZ(314deg);
    }

    .trigger16 {
      @include l3trigger;
      transform: rotateZ(336.5deg);
    }

    .trigger16-c {
      @include l3trigger-c;
      transform: rotateZ(336.5deg);
    }
  }

  .layer4 {
    .trigger1 {
      @include l4trigger;
      transform: rotateZ(0deg);
    }

    .trigger1-c {
      @include l4trigger-c;
      transform: rotateZ(0deg);
    }

    .trigger2 {
      @include l4trigger;
      transform: rotateZ(22.5deg);
    }

    .trigger2-c {
      @include l4trigger-c;
      transform: rotateZ(22.5deg);
    }

    .trigger3 {
      @include l4trigger;
      transform: rotateZ(45deg);
    }

    .trigger3-c {
      @include l4trigger-c;
      transform: rotateZ(45deg);
    }

    .trigger4 {
      @include l4trigger;
      transform: rotateZ(66.5deg);
    }

    .trigger4-c {
      @include l4trigger-c;
      transform: rotateZ(66.5deg);
    }

    .trigger5 {
      @include l4trigger;
      transform: rotateZ(89deg);
    }

    .trigger5-c {
      @include l4trigger-c;
      transform: rotateZ(89deg);
    }

    .trigger6 {
      @include l4trigger;
      transform: rotateZ(111.5deg);
    }

    .trigger6-c {
      @include l4trigger-c;
      transform: rotateZ(111.5deg);
    }

    .trigger7 {
      @include l4trigger;
      transform: rotateZ(134deg);
    }

    .trigger7-c {
      @include l4trigger-c;
      transform: rotateZ(134deg);
    }

    .trigger8 {
      @include l4trigger;
      transform: rotateZ(156.5deg);
    }

    .trigger8-c {
      @include l4trigger-c;
      transform: rotateZ(156.5deg);
    }

    .trigger9 {
      @include l4trigger;
      transform: rotateZ(179deg);
    }

    .trigger9-c {
      @include l4trigger-c;
      transform: rotateZ(179deg);
    }

    .trigger10 {
      @include l4trigger;
      transform: rotateZ(201.5deg);
    }

    .trigger10-c {
      @include l4trigger-c;
      transform: rotateZ(201.5deg);
    }

    .trigger11 {
      @include l4trigger;
      transform: rotateZ(224deg);
    }

    .trigger11-c {
      @include l4trigger-c;
      transform: rotateZ(224deg);
    }

    .trigger12 {
      @include l4trigger;
      transform: rotateZ(246deg);
    }

    .trigger12-c {
      @include l4trigger-c;
      transform: rotateZ(246deg);
    }

    .trigger13 {
      @include l4trigger;
      transform: rotateZ(269deg);
    }

    .trigger13-c {
      @include l4trigger-c;
      transform: rotateZ(269deg);
    }

    .trigger14 {
      @include l4trigger;
      transform: rotateZ(291.5deg);
    }

    .trigger14-c {
      @include l4trigger-c;
      transform: rotateZ(291.5deg);
    }

    .trigger15 {
      @include l4trigger;
      transform: rotateZ(314deg);
    }

    .trigger15-c {
      @include l4trigger-c;
      transform: rotateZ(314deg);
    }

    .trigger16 {
      @include l4trigger;
      transform: rotateZ(336.5deg);
    }

    .trigger16-c {
      @include l4trigger-c;
      transform: rotateZ(336.5deg);
    }
  }

  .layer5 {

    .trigger1 {
      @include l5trigger;
      transform: rotateZ(0deg);
    }

    .trigger1-c {
      @include l5trigger-c;
      transform: rotateZ(0deg);
    }

    .trigger2 {
      @include l5trigger;
      transform: rotateZ(22.5deg);
    }

    .trigger2-c {
      @include l5trigger-c;
      transform: rotateZ(22.5deg);
    }

    .trigger3 {
      @include l5trigger;
      transform: rotateZ(45deg);
    }

    .trigger3-c {
      @include l5trigger-c;
      transform: rotateZ(45deg);
    }

    .trigger4 {
      @include l5trigger;
      transform: rotateZ(66.5deg);
    }

    .trigger4-c {
      @include l5trigger-c;
      transform: rotateZ(66.5deg);
    }

    .trigger5 {
      @include l5trigger;
      transform: rotateZ(89deg);
    }

    .trigger5-c {
      @include l5trigger-c;
      transform: rotateZ(89deg);
    }

    .trigger6 {
      @include l5trigger;
      transform: rotateZ(111.5deg);
    }

    .trigger6-c {
      @include l5trigger-c;
      transform: rotateZ(111.5deg);
    }

    .trigger7 {
      @include l5trigger;
      transform: rotateZ(134deg);
    }

    .trigger7-c {
      @include l5trigger-c;
      transform: rotateZ(134deg);
    }

    .trigger8 {
      @include l5trigger;
      transform: rotateZ(156.5deg);
    }

    .trigger8-c {
      @include l5trigger-c;
      transform: rotateZ(156.5deg);
    }

    .trigger9 {
      @include l5trigger;
      transform: rotateZ(179deg);
    }

    .trigger9-c {
      @include l5trigger-c;
      transform: rotateZ(179deg);
    }

    .trigger10 {
      @include l5trigger;
      transform: rotateZ(201.5deg);
    }

    .trigger10-c {
      @include l5trigger-c;
      transform: rotateZ(201.5deg);
    }

    .trigger11 {
      @include l5trigger;
      transform: rotateZ(224deg);
    }

    .trigger11-c {
      @include l5trigger-c;
      transform: rotateZ(224deg);
    }

    .trigger12 {
      @include l5trigger;
      transform: rotateZ(246deg);
    }

    .trigger12-c {
      @include l5trigger-c;
      transform: rotateZ(246deg);
    }

    .trigger13 {
      @include l5trigger;
      transform: rotateZ(269deg);
    }

    .trigger13-c {
      @include l5trigger-c;
      transform: rotateZ(269deg);
    }

    .trigger14 {
      @include l5trigger;
      transform: rotateZ(291.5deg);
    }

    .trigger14-c {
      @include l5trigger-c;
      transform: rotateZ(291.5deg);
    }

    .trigger15 {
      @include l5trigger;
      transform: rotateZ(314deg);
    }

    .trigger15-c {
      @include l5trigger-c;
      transform: rotateZ(314deg);
    }

    .trigger16 {
      @include l5trigger;
      transform: rotateZ(336.5deg);
    }

    .trigger16-c {
      @include l5trigger-c;
      transform: rotateZ(336.5deg);
    }
  }

  .layer6 {
    .trigger1 {
      @include l6trigger;
      transform: rotateZ(0deg);
    }

    .trigger1-c {
      @include l6trigger-c;
      transform: rotateZ(0deg);
    }

    .trigger2 {
      @include l6trigger;
      transform: rotateZ(22.5deg);
    }

    .trigger2-c {
      @include l6trigger-c;
      transform: rotateZ(22.5deg);
    }

    .trigger3 {
      @include l6trigger;
      transform: rotateZ(45deg);
    }

    .trigger3-c {
      @include l6trigger-c;
      transform: rotateZ(45deg);
    }

    .trigger4 {
      @include l6trigger;
      transform: rotateZ(66.5deg);
    }

    .trigger4-c {
      @include l6trigger-c;
      transform: rotateZ(66.5deg);
    }

    .trigger5 {
      @include l6trigger;
      transform: rotateZ(89deg);
    }

    .trigger5-c {
      @include l6trigger-c;
      transform: rotateZ(89deg);
    }

    .trigger6 {
      @include l6trigger;
      transform: rotateZ(111.5deg);
    }

    .trigger6-c {
      @include l6trigger-c;
      transform: rotateZ(111.5deg);
    }

    .trigger7 {
      @include l6trigger;
      transform: rotateZ(134deg);
    }

    .trigger7-c {
      @include l6trigger-c;
      transform: rotateZ(134deg);
    }

    .trigger8 {
      @include l6trigger;
      transform: rotateZ(156.5deg);
    }

    .trigger8-c {
      @include l6trigger-c;
      transform: rotateZ(156.5deg);
    }

    .trigger9 {
      @include l6trigger;
      transform: rotateZ(179deg);
    }

    .trigger9-c {
      @include l6trigger-c;
      transform: rotateZ(179deg);
    }

    .trigger10 {
      @include l6trigger;
      transform: rotateZ(201.5deg);
    }

    .trigger10-c {
      @include l6trigger-c;
      transform: rotateZ(201.5deg);
    }

    .trigger11 {
      @include l6trigger;
      transform: rotateZ(224deg);
    }

    .trigger11-c {
      @include l6trigger-c;
      transform: rotateZ(224deg);
    }

    .trigger12 {
      @include l6trigger;
      transform: rotateZ(246deg);
    }

    .trigger12-c {
      @include l6trigger-c;
      transform: rotateZ(246deg);
    }

    .trigger13 {
      @include l6trigger;
      transform: rotateZ(269deg);
    }

    .trigger13-c {
      @include l6trigger-c;
      transform: rotateZ(269deg);
    }

    .trigger14 {
      @include l6trigger;
      transform: rotateZ(291.5deg);
    }

    .trigger14-c {
      @include l6trigger-c;
      transform: rotateZ(291.5deg);
    }

    .trigger15 {
      @include l6trigger;
      transform: rotateZ(314deg);
    }

    .trigger15-c {
      @include l6trigger-c;
      transform: rotateZ(314deg);
    }

    .trigger16 {
      @include l6trigger;
      transform: rotateZ(336.5deg);
    }

    .trigger16-c {
      @include l6trigger-c;
      transform: rotateZ(336.5deg);
    }
  }
}