@import "layer";
@import "presetBrowser";
@import "player";

* {
  font-family: "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
}

.Header {
  margin: 20px;
}

.BPM {
  background: #999;
  padding: 5px 20px;
  margin: 20px;
  width: 60%;
}

.CustomRangeSlider {
  width: 20vw;
  display: inline;
}

.Library {
  margin: 20px;
}