$center: 50%;
$playButtonSize: 100px;
$trashButtonSize: 50px;

.Player {
  .playButton {
    top: calc(#{$center} - #{$playButtonSize} / 2);
    left: calc(#{$center} - #{$playButtonSize} / 2);
    position: absolute;
    z-index: 8;
    border-radius: 50%;
    height: $playButtonSize;
    width: $playButtonSize;
    background: gray;
    &:hover {
      border: 3px black solid;
    }
  }
  .playButtonChecked {
    top: calc(#{$center} - #{$playButtonSize} / 2);
    left: calc(#{$center} - #{$playButtonSize} / 2);
    position: absolute;
    z-index: 8;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #138925;
    &:hover {
      border: 3px black solid;
    }
  }
  .trashButton {
    top: 80%;
    margin-left: $trashButtonSize;
    width: $trashButtonSize;
    height: $trashButtonSize;
    position: absolute;
    background: #333;
  }

  .volumeSlider{
    top: 80%;
    left: $trashButtonSize * 2 + 10px;
    length: 20px;
    position: absolute;
  }
}

/*
.Player button {
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2196f3;
  color: #ecf0f1;
}
 */