$height: 30px;

.PresetBrowser {
  top: 30px;
  right: 30px;
  background: #333;
  color: #fff;
  width: 20%;
  height: $height;
  border-radius: 3px;
  position: absolute;

  button {
    height: 80%;
    background: #111;
    color: #aaa;

    &:hover {
      background: #444;
    }

    &:nth-of-type(1) {
      margin-top: 1%;
      margin-left: 75%;
    }

    &:nth-of-type(2) {
      margin-top: 1%;
    }

    &:nth-of-type(3) {
      margin-top: 1%;
      margin-left: 5px;
    }
  }

}

.PresetDropdown {
  background: #111;
  top: 10%;
  left: 3%;
  position: absolute;
  width: 70%;
  height: calc(#{$height} - 20%);
  display: block;
  list-style: none;
  float: left;
  border-radius: 0 0 3px 3px;
  color: #aaa;

  label {
    margin: 5px;
  }

  li {
    display: none;
    float: left;
    background: #222;
    width: 100%;
    padding: 5px 20px 5px 20px;
    border-bottom: black 2px solid;
    position: relative;
  }

  &:hover {
    background: grey;

    li {
      display: block;

      li {
        display: none;
      }

      &:hover {
        background: #c0c0c0;

        li {
          display: block;
          position: relative;
          left: 100px;
          width: 200px;
        }
      }
    }
  }
}
