@import "variables";

// mixin for header buttons

@mixin button-top {
  position: relative;
  width: 5.5vh;
  height: 5.5vh;
  background-color: color(primary);
  border: 0.5vh solid color(nav);
  border-radius: 50%;
  margin-right: 3vh;
  cursor: pointer;
  color: color(nav);
  pointer-events: all;
  transition-duration: 0.25s;
}

// header buttons

.header-button {
  @include button-top();
  float: left;
}

.header-button:hover {
  border-color: color(accent);
  background-color: color(accent);
  color: color(primary);
  transition-duration: 0.25s;
  .fas:hover {
    font-size: 3vh;
  }
}

.rec {
  color: red;
  font-size: 1vh;
}
