//VAriables

@import "variables";
@import "header";
@import "sidenav";
@import "notes";
@import "preset";
@import "footer";
@import "slider";
@import "playhead";

// main css start

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  height: 100vh;
}

.global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.sequencer {
  position: absolute;
  display: inline-block;
  top: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 99%;
  background-color: color(primary);
  border: 0.5vh solid color(accent);
  border-radius: 3.5vh;
  padding: 4.3vh;
  pointer-events: none;
}


.fas {
  position: absolute;
  font-size: 2.3vh;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.sequence {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 90vh;
  background-color: color(accent);
  border-radius: 50%;
}

.sequence::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 90vh;
  border: 1.5vh solid color(primary-light);
  border-radius: 50%;
}

// Play Button

//   Play Button

.player__play-button {
  position: absolute;
  background: #252525;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12vh;
  width: 12vh;
  cursor: pointer;
  color: color(accent);
  pointer-events: all;
}

.fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  font-size: 6vh;
  margin-left: 0.7vh;
  //transition-duration: 0.25s;
}

.fa-pause {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
  background: none;
  font-size: 6vh;
  margin-left: 0.7vh;
  //transition-duration: 0.25s;
}

.fa-play:hover {
  font-size: 7vh;
}
